<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>myApp</title>
  </head>
  <body>
    <%= render "home/header" %>
    <% if notice %>
      <%= render "layouts/alerts" %>
    <% end %>
    <div class="container">
      <br>
      <%= yield %>
    </div>
    
  </body>
</html>
